
html {
    font-size: 62.5%;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Cute Font", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    padding: 20px;
    background: #f1f1f1;
}

h2 {
    font-size: 4rem;
}

.header h2{
    font-size: 8rem;
    line-height:0%;
    letter-spacing: 2px;
}

.header {
    padding: 2px;
    font-size: 40px;
    text-align: center;
    background: white;
    z-index: 4;
}

.leftcolumn {   
    float: left;
    width: 100%;
}

.card {
    background-color:white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

.card a {
    text-decoration: none;
    color: black;
}

.card:hover{
    background-color:blanchedalmond;
}

.single{
    background-color:white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    border-style: solid;
    margin-bottom:40px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.items {
    flex:1 1 auto;
}

.container2 {
    display:flex;
    flex-direction:row;
    justify-content:start;
}

.items2 {
    flex:0 1 auto;
    padding: 1rem .5rem;
    margin: 2rem;
}

.btn {
    border-style: solid;
    border-radius:4px;

    font-family: "Cute Font", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:2rem;
    text-transform: uppercase;
    background-color:white;
    margin-top: 1.2rem;
    text-decoration: none;
    border-color: black;
    color: black;
}

.btn:hover {
    background-color:blanchedalmond;
}

.welcome {
    position: absolute;
    top: 10rem;
    left: 4rem;
    z-index: 5;
    font-size:2.3rem;
}

.collapsible {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-color: black;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
}

.collapsible:hover {
    background-color: blanchedalmond;
    /* #ccc; */
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}
